/* Frame 4 */

@import url("https://fonts.googleapis.com/css2?family=Jolly Lodger:wght@400&display=swap");

p {
  margin: 0;
}

.frame-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1964px;
  height: 4504px;
  box-sizing: border-box;
}
.group-1 {
  position: absolute;
  top: 0px;
  left: 72px;
  width: 1964px;
  height: 100%;
  box-sizing: border-box;
}
.group-538 {
  position: absolute;
  top: 8px;
  width: 1920px;
  height: 4496px;
  padding: 26px 1453px 4342px 184px;
  box-sizing: border-box;
  background-color: rgba(49, 49, 49, 1);
}
.biopixel {
  color: rgba(194, 179, 160, 1);
  font-size: 128px;
  line-height: 128px;
  font-family: Jolly Lodger, display;
  font-weight: 400;
  mix-blend-mode: normal;
}

.group-112 {
  position: absolute;
  top: 0px;
  width: 120px;
  height: 100%;
  padding: 89px 50px 4377px 19px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.2);
}
.vector {
  width: 51px;
  height: 100%;
}

.polygon-6 {
  position: absolute;
  top: 1813px;
  left: 1916px;
  width: 44.17px;
  height: 32.25px;
}

.group-3 {
  position: absolute;
  top: 359px;
  left: 767px;
  width: 584px;
  height: 648px;
  box-sizing: border-box;
}
.group-496 {
  position: absolute;
  top: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 631px;
  box-sizing: border-box;
}
.vector-1 {
  width: 527px;
  height: 154px;
}

.image-13 {
  width: 100%;
  height: 425px;
}

.amazonas {
  position: absolute;
  top: 0px;
  left: 98px;
  color: rgba(255, 255, 255, 1);
  font-size: 128px;
  line-height: 128px;
  font-family: Jolly Lodger, display;
  font-weight: 400;
}

.group-4 {
  position: absolute;
  top: 1276px;
  left: 583px;
  display: flex;
  flex-direction: row;
  width: 952px;
  height: 366px;
  box-sizing: border-box;
}
.group-915 {
  display: flex;
  flex-direction: column;
  height: fit-content;
  box-sizing: border-box;
}
.group-198 {
  width: 100%;
  height: 172px;
  padding: 63px 67px 61px 62px;
  box-sizing: border-box;
  background-color: rgba(217, 217, 217, 1);
}
.peixes {
  color: rgba(76, 154, 150, 1);
  font-size: 48px;
  line-height: 48px;
  font-family: Jolly Lodger, display;
  font-weight: 400;
}

.group-1056 {
  width: 100%;
  height: 172px;
  padding: 58px 43px 66px 62px;
  box-sizing: border-box;
  background-color: rgba(217, 217, 217, 1);
}
.anf-bios {
  color: rgba(123, 49, 158, 1);
  font-size: 48px;
  line-height: 48px;
  font-family: Jolly Lodger, display;
  font-weight: 400;
}

.group-846 {
  display: flex;
  flex-direction: column;
  height: fit-content;
  box-sizing: border-box;
}
.group-423 {
  width: 100%;
  height: 172px;
  padding: 63px 53px 61px 43px;
  box-sizing: border-box;
  background-color: rgba(217, 217, 217, 1);
}
.moluscos {
  color: rgba(99, 55, 55, 1);
  font-size: 48px;
  line-height: 48px;
  font-family: Jolly Lodger, display;
  font-weight: 400;
}

.group-165 {
  width: 100%;
  height: 172px;
  padding: 52px 59px 72px 54px;
  box-sizing: border-box;
  background-color: rgba(217, 217, 217, 1);
}
.rpteis {
  color: rgba(45, 112, 43, 1);
  font-size: 48px;
  line-height: 48px;
  font-family: Jolly Lodger, display;
  font-weight: 400;
}

.group-204 {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}
.group-758 {
  width: 100%;
  height: 172px;
  padding: 60px 71px 64px 81px;
  box-sizing: border-box;
  background-color: rgba(217, 217, 217, 1);
}
.aves {
  color: rgba(127, 127, 127, 1);
  font-size: 48px;
  line-height: 48px;
  font-family: Jolly Lodger, display;
  font-weight: 400;
}

.group-1009 {
  width: 100%;
  height: 172px;
  padding: 56px 43px 68px 20px;
  box-sizing: border-box;
  background-color: rgba(217, 217, 217, 1);
}
.artropodes {
  color: rgba(165, 134, 25, 1);
  font-size: 48px;
  line-height: 48px;
  font-family: Jolly Lodger, display;
  font-weight: 400;
}

.group-279 {
  display: flex;
  flex-direction: column;
  height: fit-content;
  box-sizing: border-box;
}
.group-215 {
  width: 100%;
  height: 172px;
  padding: 63px 27px 61px 45px;
  box-sizing: border-box;
  background-color: rgba(217, 217, 217, 1);
}
.mam-feros {
  color: rgba(206, 123, 26, 1);
  font-size: 48px;
  line-height: 48px;
  font-family: Jolly Lodger, display;
  font-weight: 400;
}

.group-363 {
  width: 100%;
  height: 172px;
  padding: 53px 40px 71px 45px;
  box-sizing: border-box;
  background-color: rgba(217, 217, 217, 1);
}
.anel-deos {
  color: rgba(50, 106, 147, 1);
  font-size: 48px;
  line-height: 48px;
  font-family: Jolly Lodger, display;
  font-weight: 400;
}
